@media (min-width: 899px) {
  .learn-bar {
    width: auto;
    margin: 0 0 0 300px;
  }

  .learn-bar > .learn {
    left: 8px;
  }

  .learn-bar #todoapp {
    width: 550px;
    margin: 130px auto 40px;
  }
}
